<p>
	<a class="u-bookmark-of" href="{{ index (index .Params.Properties "bookmark-of") 0 }}">
		{{ with .Params.Properties.Name }}
		{{ index . 0 }}
		{{ else }}
		{{ index (index .Params.Properties "bookmark-of") 0 }}
		{{ end }}
	</a>
</p>
{{ partial "mf2/property/content.html" . }}

<p class="p-bridgy-twitter-content">
	Recommended read: {{ with .Params.Properties.Name }}
	{{ index . 0 }}
	{{ else }}
	{{ index (index .Params.Properties "bookmark-of") 0 }}
	{{ end }}
	{{ index (index .Params.Properties "bookmark-of") 0 }}
</p>
