{{ if not .Params.context }}
  <p>
    <a class="u-like-of" href="{{ with index .Params.Properties "like-of" }}{{ with index . 0 }}{{ . }}{{ end }}{{ end }}">{{ with index .Params.Properties.Name }}{{ with index . 0 }}{{ . }}{{ end }}{{ end }}</a>
  </p>
{{ else }}
  <aside class="u-like-of h-cite">
    <p>
      <a class="u-like-of h-cite" href="{{ with index .Params.Properties "like-of" }}{{ with index . 0 }}{{ . }}{{ end }}{{ end }}">{{ with index .Params.Properties.Name }}{{ with index . 0 }}{{ . }}{{ end }}{{ end }}</a>
    </p>

    {{ partial "mf2/property/context.html" . }}
  </aside>
{{ end }}
