{{ with .Params.Properties.Name }}
	<h1 class="p-name post-title">
		{{ index . 0 | markdownify }}
	</h1>
	<div class="post-line"></div>
{{ end }}


{{ with .Params.Properties.Summary }}
<p class="p-summary">
	{{ index . 0 }}
</p>
{{ end }}

{{ partial "mf2/property/content.html" . }}

{{ with $.Params.Properties.Photo }}
  <p class="photos">
    {{ range . }}
    <img class="u-photo" src="{{ .photo }}" alt="{{ .alt }}" title="{{ .alt }}" />
    {{ end }}
  </p>
{{ end }}
