{{ if not .Params.context }}
<p>
	<a class="u-in-reply-to" href="{{ index (index .Params.Properties "in-reply-to") 0 }}">
		{{ with .Params.Properties.Name }}
		{{ index . 0 }}
		{{ else }}
		{{ index (index .Params.Properties "in-reply-to") 0 }}
		{{ end }}
	</a>

	{{ partial "mf2/property/context.html" . }}
</p>
{{ else }}
  <aside class="u-in-reply-to h-cite">
    <p>
		<a href="{{ index (index .Params.Properties "in-reply-to") 0 }}">
			{{ with .Params.Properties.Name }}
			{{ index . 0 }}
			{{ else }}
			{{ index (index .Params.Properties "in-reply-to") 0 }}
			{{ end }}
		</a>
    </p>

    {{ partial "mf2/property/context.html" . }}
  </aside>
{{ end }}

{{ partial "mf2/property/content.html" . }}

{{ with $.Params.Properties.Photo }}
  <p class="photos">
    {{ range . }}
    <img class="u-photo" src="{{ .photo }}" alt="{{ .alt }}" title="{{ .alt }}" />
    {{ end }}
  </p>
{{ end }}
