{{ partial "mf2/property/content-field.html" . }}
{{ if .Params.Properties.Content }}
	<cite class="h-cite u-quotation-of">
		<p><i class="fa fa-retweet"></i>&nbsp;
			<a class="u-url" href="{{ index (index .Params.Properties "repost-of") 0 }}">
				{{- with .Params.Properties.Name }}
				{{- index . 0 }}
				{{- else }}
				{{- index (index .Params.Properties "repost-of") 0 }}
				{{- end }}
			</a>
		</p>

		{{ partial "mf2/property/context.html" . }}
	</cite>
{{ else }}
	<aside class="h-cite u-repost-of">
		<p><i class="fa fa-retweet"></i>&nbsp;
			<a href="{{ index (index .Params.Properties "repost-of") 0 }}">
				{{- with .Params.Properties.Name }}
				{{- index . 0 }}
				{{- else }}
				{{- index (index .Params.Properties "repost-of") 0 }}
				{{- end }}
			</a>
		</p>

		{{ partial "mf2/property/context.html" . }}
	</aside>
{{ end }}
