<p>
{{ with index .Params.Properties "rsvp" }}
  {{ with index . 0 }}
    <data class="p-rsvp" value="{{ . }}">
      {{ if eq "yes" . }}
      I will be attending
      {{ else if eq "no" . }}
      I will not be attending
      {{ else if eq "interested" . }}
      I'm interested in attending
      {{ else if eq "maybe" . }}
      I <em>may</em> be attending
      {{ else }}
      {{ . }}
      {{ end }}
    </data>
  {{ end }}
{{ end }}
{{ with index .Params.Properties "in-reply-to" }}
{{ $u := index . 0 }}
<a class="u-in-reply-to" href="{{ $u }}"></a>
  <span class="h-event">
    <a class="u-url" href="{{ $u }}">
  {{ end }}
  {{ with index .Params.Properties "event" }}
    <span class="p-name">{{ index (index . "name") 0 }}</span> on <time class="dt-start" datetime="{{ index (index . "start") 0}}">{{ dateFormat "Monday, Jan 2 2006" (index (index . "start") 0) }}</time>
  {{ end }}
    </a>
  </span>
</p>

{{ partial "mf2/property/content.html" . }}
