{{ define "main" }}

<main>
	<a name="top"></a>
	<div class="post mf2">
		<div class="{{ .Params.h }}">
			{{ .Render "content" }}
			{{ partial "syndication.html" . }}
		</div>
	</div>

	<div class="post-details">
		{{ partial "client-details.html" . }}

		{{ partial "filed-under.html" . }}

		{{ partial "webmention.html" . }}
	</div>
</main>
{{ end }}
