{{ define "main" }}

<main>
	<a name="top"></a>
	<div class="post">
		{{ partial "single/post-info.html" . }}
		{{ partial "single/title.html" . }}

		{{ partial "single/header.html" . }}

		{{ .Render "content" }}

		{{ partial "single/footer.html" . }}
	</div>

	<div class="pagination">
		{{- if .PrevPage }}
		<a href="{{ .PrevPage.Permalink }}" class="left arrow">&#8592;</a>
		{{- end }}
		{{- if .NextPage }}
		<a href="{{ .NextPage.Permalink }}" class="right arrow">&#8594;</a>
		{{- end }}

		<a href="#top" class="top">Top</a>
	</div>
</main>

{{ end }}
