<article class="catalogue-item">
    <div>
        <time datetime="{{ dateFormat "2006-01-02T15:04:05-0700" .PublishDate }}" class="catalogue-time">{{ i18n "publishdate" . }}</time>
        <h1 class="catalogue-title">
			<a href="{{ .Permalink }}">
				{{ .Title }}
			</a>
		</h1>
        <div class="catalogue-line"></div>

        <p>
            {{ .Description | markdownify }}
        </p>
    </div>
</article>
