{{ define "main" }}

<main class="h-feed">
	<h1><a class="p-name u-url" href="{{ .Permalink }}">{{ strings.FirstUpper .Data.Singular }} {{ .Title }}</a></h1>
	<div class="catalogue">
		{{ range where .Pages "Params.deleted" false }}
			{{ if (and (and (ne .URL "/events/") (ne .URL "/events/homebrew-website-club-nottingham/")) (ne .URL "/events/personal-events/")) }}
				{{ .Render "summary" }}
			{{ end }}
		{{ end }}
	</div>
</main>

{{ end }}
