{{ define "main" }}

<main>
	<a name="top"></a>
	<div class="h-entry">
		<div class="post">
			{{ partial "single/posts/post-info.html" . }}
			{{ partial "single/title.html" . }}
			{{ partial "single/table-of-contents.html" . }}

			{{ partial "single/header.html" . }}

			<div class="e-content">
				{{ .Render "content" }}
			</div>

			{{ partial "single/footer.html" . }}
		</div>

		<div class="post-details">
			<div class="hidden">
				<p>This post's permalink is <a class="u-url" href="{{ .Site.Params.LiveSiteUrl }}{{ .Permalink }}">{{ .Site.Params.LiveSiteUrl }}{{ .Permalink }}</a> and has the following summary:</p>.
				<blockquote class="p-summary">{{ .Description }}</blockquote>
				<p>The canonical URL for this post is
				{{ if .Params.Canonical_Url }}
				<a class="u-uid" href="{{ .Params.Canonical_Url }}">{{ .Params.Canonical_Url }}</a>
				{{ else }}
				<a class="u-uid" href="{{ .Site.Params.LiveSiteUrl }}{{ .Permalink }}">{{ .Site.Params.LiveSiteUrl }}{{ .Permalink }}</a>

				{{ end }}
				.</p>
				{{ $image := .Site.Params.Image }}
				{{ if .Params.Image }}
				{{ $image = .Params.Image }}
				{{ end }}
				{{ if not (hasPrefix $image "https://media.jvt.me") }}
				{{ $image = printf "%s%s" .Site.Params.LiveSiteUrl $image }}
				{{ end }}
				<p>This post's featured URL for sharing metadata is <a class="u-featured" href="{{ $image }}">{{ $image }}</a>.</p>
			</div>
			<p>Written by {{ partialCached "inline-hcard.html" . }} on <strong><time class="dt-published" datetime="{{ .PublishDate }}">{{ dateFormat "Mon, 02 Jan 2006 15:04:05 MST" .PublishDate }}</time></strong>
			{{- if .GitInfo -}}
			{{- if .GitInfo.AuthorDate -}}
			, and last updated on <strong><a href="https://gitlab.com/jamietanna/jvt.me/commit/{{ .GitInfo.Hash }}"><time class="dt-updated" datetime="{{ .GitInfo.AuthorDate }}">{{ dateFormat "Mon, 02 Jan 2006 15:04:05 MST" .GitInfo.AuthorDate }}</time></a></strong>
			{{- end -}}.
			{{- end -}}
			</p>
			{{ $licenseCode := index $.Site.Data.licenses .Params.License_Code }}
			{{ $licenseProse := index $.Site.Data.licenses .Params.License_Prose }}

			<p>Content for this article is shared under the terms of the <a href="{{ index $licenseProse.seeAlso 0 }}">{{ $licenseProse.name }}</a>, and code is shared under the <a href="{{ index $licenseCode.seeAlso 0 }}">{{ $licenseCode.name }}</a>.
			</p>

			<p>
				<i class="fa fa-tags"></i>
				{{ range .Params.Tags }}
				<a href="/tags/{{ . }}">#<span class="p-category">{{ . }}</span></a>
				{{- end -}}.
			</p>

			{{ partial "syndication.html" . }}
		</div>
	</div>

	<div class="post-details">
		{{ partial "filed-under.html" . }}

		{{ partial "support-me.html" . }}

		{{ with .Params.Series }}
		<p>This post is part of the series <a class="u-series" href="/series/{{ . }}">{{ . }}</a>.</p>
		{{ end }}

		{{ $related := where (where (.Site.RegularPages.Related .) "Section" "eq" "posts") "Params.deleted" false | first 5 }}
		{{ with $related }}
		<details>
			<summary>Related Posts</summary>
			<p>Other posts you may be interested in:</p>
			<ul>
				{{ range . }}
				<li><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></li>
				{{ end }}
			</ul>
		</details>
		{{ end }}
		{{ partial "webmention.html" . }}
	</div>

	<div class="pagination">
		{{- if .PrevPage }}
		<a href="{{ .PrevPage.Permalink }}" class="left arrow">&#8592;</a>
		{{- end }}
		{{- if .NextPage }}
		<a href="{{ .NextPage.Permalink }}" class="right arrow">&#8594;</a>
		{{- end }}

		<a href="#top" class="top">Top</a>
	</div>
</main>

{{ end }}
