<article class="catalogue-item h-entry">

  {{ partial "kind.html" . }}

  <p>
    <strong><a class="p-name u-url" href="{{ .Permalink }}">{{ .Title | markdownify }}</a></strong> ({{ .ReadingTime }} mins read).
  </p>

  <p class="p-summary">
  {{ .Description | markdownify }}
  </p>

  <p>
    <a class="catalogue-time u-uid u-url" href="{{ .Permalink }}">
      <time datetime="{{ .PublishDate }}" class="dt-published">{{ dateFormat "Mon, 02 Jan 2006 15:04" .PublishDate }}</time>
    </a> by {{ partialCached "inline-hcard.html" . }}.

		<i class="fa fa-tags"></i>
		{{ range .Params.Tags }}
      <a href="/tags/{{ . }}">#<span class="p-category">{{ . }}</span></a>
    {{- end -}}.
  </p>
</article>
