{{ $description := .Site.Params.Description }}
{{- if ne .Permalink "/" }}
	{{ $description = .Description }}
{{- end }}

{{ $image := .Site.Params.Image }}
{{ if .Params.Image }}
	{{ $image = .Params.Image }}
{{ end }}
{{ if not (hasPrefix $image "https://media.jvt.me") }}
{{ $image = delimit (slice .Site.Params.LiveSiteUrl $image) "" }}
{{ end }}
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{{- if eq .Permalink "/" }}
			<meta name="description" content="{{ .Site.Params.Description }}">
		{{- else if .Description }}
			<meta name="description" content="{{ .Description }}">
		{{- end }}
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="generator" content="Hugo v{{ $.Site.Hugo.Version }}">

		<title>
			{{- if eq .Permalink "/" }}
				{{ .Site.Title }}
			{{- else }}
				{{ .Render "title" }} &middot; {{ .Site.Title }}
			{{- end }}
		</title>

		<!-- metadata -->
		<!-- OpenGraph -->
		{{- if ne .Type "mf2" -}}
		<meta property="og:title" content="{{ .Render "title" }} &middot; {{ .Site.Title }}" />
		<meta property="og:locale" content="en_GB">
		<meta property="og:description" content="{{ $description }}">
		<meta property="og:url" content="{{ .Site.Params.LiveSiteUrl }}{{ .Permalink }}">
		<meta property="og:site_name" content="{{ .Site.Title }}">
		<meta property="og:image" content="{{ $image }}">
		<meta property="og:type" content="article">
		<meta property="article:published_time" content="{{ dateFormat "2006-01-02T15:04:05-0700" .PublishDate }}">
		{{- end -}}

		{{- if .Params.Canonical_Url }}
		<link rel="canonical" href="{{ .Params.Canonical_Url }}" />
		{{ else }}
		<link rel="canonical" href="{{ .Site.Params.LiveSiteUrl }}{{ .Permalink }}" />
		{{- end }}
		{{- if .Params.Tags }}
		<meta name="keywords" content="{{ delimit .Params.Tags ", " }}">
		{{- end }}
		<!-- Twitter Cards -->
		{{- if ne .Type "mf2" -}}
		<meta name="twitter:site" content="@jamietanna">
		<meta name="twitter:creator" content="@jamietanna">
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="{{ .Render "title" }} &middot; {{ .Site.Title }}" />
		<meta name="twitter:description" content="{{ $description }}" />
		{{- end -}}

		{{- if eq .Type "posts" -}}
		<meta name="twitter:label1" value="Reading time" />
		{{ if eq 1 .ReadingTime }}
			<meta name="twitter:data1" value="{{ .ReadingTime }} min" />
		{{ else }}
			<meta name="twitter:data1" value="{{ .ReadingTime }} mins" />
		{{ end }}
		{{ end }}
		{{- if (eq .Type "events") -}}
			{{ if .Params.Start }}
			<meta name="twitter:label1" value="Start time" />
			<meta name="twitter:data1" value="{{ dateFormat "Mon, 02 Jan 2006 15:04:05 MST" .Params.Start }}" />
			{{ end }}
			{{ if .Params.Adr }}
			<meta name="twitter:label2" value="Address" />
			<meta name="twitter:data2" value="{{ .Params.adr.street_address }}, {{ .Params.adr.locality }}, {{ .Params.adr.postal_code }}" />
			{{ end }}
		{{- end -}}
		{{- if ne .Type "mf2" -}}
		<meta name="twitter:image" content="{{ $image }}" />
		{{- end -}}

		<!-- CSS -->
		{{- $inServerMode	:= .Site.IsServer }}
		{{- $cssTarget		:= "css/style.css" }}
		{{- $cssOptions		:= cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
		{{- $style			:= resources.Get "scss/tale.scss" | toCSS $cssOptions }}
  		<link rel="stylesheet" href="{{ $style.RelPermalink }}">
		<link rel="stylesheet" href="/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/asciinema-player.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">

		<!-- Favicon -->
		<link rel="shortcut icon" type="image/png" href="/favicon.png">

		<!-- Altenative output formats i.e. RSS, JSON Feed -->
		{{ range .AlternativeOutputFormats -}}
			{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
		{{ end -}}

		<!-- WebMention -->
		<link rel="webmention" href="https://webmention.io/{{ .Site.Params.WebMentionDomain }}/webmention" />
		<link rel="pingback" href="https://webmention.io/{{ .Site.Params.WebMentionDomain }}/xmlrpc" />

		<!-- IndieAuth -->
		<link rel="authorization_endpoint" href="{{ .Site.Params.AuthorizationEndpoint }}">
		<link rel="token_endpoint" href="{{ .Site.Params.TokenEndpoint }}">

		<!-- Micropub -->
		<link rel="micropub" href="{{ .Site.Params.MicroPubEndpoint }}">

		<!-- Microsub -->
		<link rel="microsub" href="{{ .Site.Params.MicroSubEndpoint }}">
	</head>
