<span class="p-author h-card"><img class="u-photo" src="https://www.jvt.me/img/profile.png" alt="Jamie Tanna's profile image" /> <a class="p-name u-url" href="{{ .Site.Params.LiveSiteUrl }}">{{ .Site.Params.author }}</a></span>
