<script src="/js/asciinema-player.js" charset="utf-8"></script>
<script src="/js/birthday.js" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
	var u="https://stats.jvt.me/";
	_paq.push(['setTrackerUrl', u+'piwik.php']);
	_paq.push(['setSiteId', 1]);
	var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
})();
</script>
<noscript><p><img src="https://stats.jvt.me/piwik.php?idsite=1" style="border:0;" alt="Piwik tracking image" /></p></noscript>
<script src="/js/webmention.js" data-id="webmentions" data-page-url="{{ printf "%s%s" .Site.Params.LiveSiteUrl .Permalink }}" data-max-webmentions="{{ .Site.Params.MaxWebmentions }}"></script>
