<article class="catalogue-item h-event">
	<div>
		<h1 class="catalogue-title p-name">
			<a class="u-url" href="{{ .Permalink }}">
				{{ .Title }}
			</a>
		</h1>
		<div class="catalogue-line"></div>

		<p class="p-summary">
			{{ .Description | markdownify }}
		</p>
	</div>
</article>
