{{ define "main" }}

<main>
	<div class="post">
		<div class="h-event">
			{{ partial "single/title.html" . }}
			{{ .Render "content" }}
		</div>

		<div class="post-details">
			{{ partial "syndication.html" . }}
			{{ partial "webmention.html" . }}
		</div>

		{{ partial "single/footer.html" . }}
	</div>
</main>

{{ end }}
