{{ if not (isset .Params "h") }}
<article class="catalogue-item h-event">
    <div>
        <time datetime="{{ .Params.Start }}" class="catalogue-time">{{ dateFormat "Mon, 02 Jan 2006 15:04" .Params.Start }}</time>

        <h1 class="catalogue-title">
			<a class="p-name u-url" href="{{ .Permalink }}">{{ .Title }}</a>
		</h1>
        <div class="catalogue-line"></div>
        {{ .Render "content" }}

        <p style="display: none">Published on <time datetime="{{ dateFormat "2006-01-02T15:04:05-07:00" .PublishDate }}" class="dt-published">{{ dateFormat "2006-01-02T15:04:05-07:00" .PublishDate }}</time>.</p>
    </div>
</article>
{{ else }}
<article class="catalogue-item h-event">
    <div>
        <time datetime="{{ index .Params.Properties.start 0 }}" class="catalogue-time">{{ dateFormat "Mon, 02 Jan 2006 15:04" (index .Params.Properties.start 0) }}</time>

        <h1 class="catalogue-title">
			{{ if isset .Params.Properties "url" }}
			<a class="p-name u-url" href="{{ index .Params.Properties.Url 0 }}">{{ index .Params.Properties.Name 0 }}</a>
			{{ else }}
			<a class="p-name u-url" href="{{ .Permalink }}">{{ index .Params.Properties.Name 0 }}</a>
			{{ end }}
        </h1>
        <div class="catalogue-line"></div>
        {{ .Render "content" }}

        <p>
            <a class="catalogue-time" href="{{ .Permalink }}">
                <time datetime="{{ index (.Params.Properties.Published) 0 }}" class="dt-published">{{ dateFormat "Mon, 02 Jan 2006 15:04" (index (.Params.Properties.Published) 0) }}</time>
            </a>
        </p>

        <p style="display: none">Published on <time datetime="{{ dateFormat "2006-01-02T15:04:05-07:00" .PublishDate }}" class="dt-published">{{ dateFormat "2006-01-02T15:04:05-07:00" .PublishDate }}</time>.</p>
    </div>
</article>
{{ end }}
