.catalogue {
  &-item {
    .kind a {
      color: $purple-shade;
    }

    p {
      margin: 1rem 0 0 0;
    }

    strong > .p-name {
      font-size: 110%;
    }

    @extend %divided;

    color: $default-color;
    display: block;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time, &-metadata {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: .5px;
  }

  &-title {
    color: $default-shade;
    display: block;
    font-family: $sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin: .5rem 0;
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid $default-shade;
    display: block;
    width: 2rem;
  }

  p,
  &-time,
  &-metadata,
  &-title,
  &-line {
    max-width: 100%;
  }
}
