pre,
code {
  font-family: $monospaced;
}

%code-block {
  overflow-x: auto;
  /* from _syntax.scss */
  background: #282828;
  color: #ebdbb2;
  background-color: #282828;

  border-radius: 3px;
  line-height: 1.4;
  padding: 1rem;
}

code {
  background-color: $grey-3;
  border-radius: 3px;
  color: $code-color;
  font-size: 85%;
  padding: .25em .5em;

  & a {
      color: $code-color-link;
  }
}

pre {
  @extend %code-block;
}


/* TODO: is this a non-highlighted?
 */
pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
  display: block;
  margin: 0 auto;
  @extend %max-width;
}

.highlight {
  .lineno {
    color: $default-tint;
    display: inline-block; // Ensures the null space also isn't selectable
    padding: 0 .75rem 0 .25rem;
    // Make sure numbers aren't selectable
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
}
