.container {
  margin: 0 auto;
  @extend %max-width;
}

main,
footer,
.nav-container {
  display: block;
  margin: 0 auto;
}

.nav-container {
  @extend %max-width;
}

/* TODO
 */
main {
  margin-top: 1rem;

  p,
  nav,
  div.post-info,
  div.post-details,
  blockquote,
  div.catalogue,
  form#manual-webmention,
  details,
  figure {
    margin: 0 auto 1rem;
    @extend %max-width;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-left: auto;
    margin-right: auto;
    @extend %max-width;
  }

  /* Any lists within <nav>s (i.e. our Table of Contents) shouldn't have any
   * `margin`, otherwise they'll display poorly, with lots of spacing between
   * items and the whole <ul>
   */
  nav ul {
    margin: 0;
  }

  /* The first occurance of a regular list should automagically pick up their
   * `margin` so as not to override anything else we need
   */
  ul, ol {
    @extend %max-width;
    margin: auto;
  }

  /* However, any nested lists should instead have no margin, to ensure that
   * there are no extra spaces around it, as well as ensure that a nested list
   * use the full width of the parent list, instead of shrinking the max-width
   * each time
   */
  ul ul, ol ol {
    margin: 0;
    max-width: 100%;
  }
}

.h-feed {
  .h-entry {
    ul {
      margin: 0;
    }
  }
}

.nav {
  box-shadow: 0 2px 2px -2px $shadow-color;
  overflow: auto;

  &-container {
    margin: 1rem auto;
    position: relative;
  }

  &-title {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    margin: 0;
    padding-right: .2rem;

    &:hover,
    &:focus {
      opacity: .6;
    }
  }

  ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
  }

  li {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    opacity: .6;
    padding: 0 0.5rem 0 0;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  a {
    color: $default-color;
    font-family: $sans-serif;
  }
}

@media (min-width: 600px) {
  .nav {
    &-container {
      text-align: left;
    }

    ul {
      bottom: 0;
      right: 0;
    }
  }
}

footer {
  margin: 1rem auto 1rem;
  @extend %max-width;

  font-family: $serif-secondary;
  padding-top: 0.5rem;
  border-top: 0.5px solid #e5e5e5;

  span {
    color: $default-color;
    font-size: .8rem;
  }

  span#contact ul {
    list-style: none;
    font-size: 1rem;
  }

  span.monospace {
    font-family: $monospaced;
  }

  nav > a {
    color: $purple;
  }
}

.hidden {
  display: none;
}

video {
  height: 100%;
  width: 100%;
  max-width: 400px;
}

blockquote.twitter-context {
  border: 2px solid #e1e8ed;
  border-radius: 5px;
  max-width: 700px;
  padding: 5px;

  p {
    /* Ignore margin settings from .catalogue-item p */
    margin: 0;
  }

  div {
    /* overwrite anything that the Twitter embeds via Granary specify,
     * allowing the content to wrap inside its container */
    white-space: pre-wrap !important;
  }
}

.h-feed-description {
	@extend %divided;
	font-size: 90%;
}

.app {
  img	{
    display: inline-block;
    max-width: 32px;
    margin: 0;
  }
}
