.pagination {
  margin: 1rem auto 1rem;
  @extend %max-width;

  font-family: $serif-secondary;
  padding-top: 2rem;
  text-align: center;

  list-style: none;
  li {
    list-style: none;
    display: inline-block;
  }

  span {
    color: $default-shade;
    font-size: 1.1rem;
  }

  .top {
    @include transition(all .3s ease-out);
    color: $default-color;
    font-family: $sans-serif;
    font-size: 1.1rem;
    opacity: .6;

    &:hover {
      opacity: 1;
    }
  }

  .page-item {
    padding: 0.25rem;

    &.active {
      font-weight: bold;
    }
  }
}
