// Colors
$default-color: #555;
$default-shade: #353535;
$default-tint: #aaa;
$grey-1: #979797;
$grey-2: #e5e5e5;
$grey-3: #f9f9f9;
$white: #fff;
$blue: #4a9ae1;
$purple: #b324d4;
$purple-shade: #b273c0;
$shadow-color: rgba(0, 0, 0, .2);
$code-color: #bf616a;
$code-color-link: #e8afda;

// Fonts
$serif-primary: 'Libre Baskerville', 'Times New Roman', Times, serif;
$serif-secondary: Palatino, 'Palatino LT STD', 'Palatino Linotype', 'Book Antiqua', 'Georgia', serif;
$sans-serif: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
$monospaced: Menlo, Monaco, monospace;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
          transition: $args;
}

%divided {
  border-bottom: 1px solid $grey-2;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

%max-width {
  /* Viewers on smaller screens should have 20% of the screen as whitespace
   * to give them some breathing room
   */
  @media (max-width: 1200px) {
    max-width: 80%;
  }
  /* When you're on a huge screen, you don't want to be looking _too_ far
   * across the page, so we should limit this to an arbitrary width of
   * 1100px. Anyone at 1200px will see it a little cramped, but it's not as
   * bad as before!
   */
  @media (min-width: 1200px) {
    max-width: 1100px;
  }
}
